* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  background: rgb(15, 16, 24);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video-box {
  margin-top: -90px;
  width: 100vw;
  height: 600px;
  overflow: hidden;
  background: black;
}
.react-player {
  margin-top: -100px;
}
nav {
  z-index: 1;
  position: absolute;
  top: 30px;
  display: flex;
  width: 80vw;
  margin: auto;
  justify-content: space-between;
}
nav input {
  border: none;
  padding: 5px 5px 5px 30px;
  border-radius: 12px;
  width: 300px;
  /* background: rgb(223, 223, 223); */
  opacity: 0.2;
}
.logo {
  margin-top: -10px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.logo span {
  font-weight: 500;
  color: rgb(0, 174, 255);
}
.logo p {
  font-size: 9px;
  font-weight: 300;
  color: gray;
  letter-spacing: 7.4px;
}
nav ul {
  display: flex;
  gap: 40px;
}
li {
  list-style: none; 
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 14px;
}
nav ul li a:hover {
  color: rgb(0, 174, 255);
  transition: all 0.3s ease-in-out;
}
/* ============ video ============== */



/* =================== content =============== */
.father-grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: auto;
}
.grid{
  position: relative;
  display: flex;
  gap: 10px;
  text-align: center;
  flex-direction: column;
  width: 200px;
  height: 360px;
  background-size: cover;
  color: white;
  font-size: 15px;
}
.grid:hover {
  height: 400px;
  transition: all 0.7s ease-in-out;
}
.grid img {
  border-radius: 10px;
}
.btn-s {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(15, 16, 24);
  bottom: 0;
  width: 100%;
  height: 34px;
  margin-top: -35px;
}
.grid button {
  position: absolute;
  bottom: 0;  
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
}
.kind {
  font-size: 14px;
  margin-top: -5px;
  color: rgb(182, 182, 182);
}
.lang {
  font-size: 13px;
  margin-top: -8px;
  color: rgb(182, 182, 182);
}
.content-view {
  margin-top: 120px;
  display: flex;
  gap: 80px;

}
.content-view img {
  width: 350px;
}
.content-view p {
  color: white;
}
.content-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 30px;
  width: 350px;
}
.content-text b {
  color: rgb(0, 174, 255);
}
.content-text a {
  color: gray;
}


/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}